
<!DOCTYPE html>
<html>
<head>
    {% load static %}

<title>MooMa</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,shrink-to-fit=no">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<head>
  <title>MooMa</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function ()
      {
          GetData();
      });

      function GetData()
      {
          var url = 'https://api.thingspeak.com/channels/1058265/feeds.json?key=PT8PTFESBBO4W5GK&results=1';
          $.ajax
          /*
          ({
              url: url,
              type: 'GET',
              contentType: "application/json",
              //dataType: "json",
              //crossDomain: true,
              success: function (data, textStatus, xhr) {
                  $.each(data, function (i, item) {
                      if (i == 'feeds') {
                          var ubound = item.length;
                          $('#txtField1').val(item[ubound - 1].field1);
                      }
                  });
              },
              error: function (xhr, textStatus, errorThrown) {
                  alert(errorThrown);
              }
          });*/
          $.ajax({
      url: 'https://api.thingspeak.com/channels/1058265/fields/field1/last.txt?api_key=PT8PTFESBBO4W5GK',
      type: 'GET',
      data: {
        format: 'text'
      },
      success: function(response) {
        data = response;
        //alert(response);
      },
      error: function() {
        $('#errors').text("There was an error processing your request. Please try again.");
      }
    });

          setTimeout(GetData, 10000);
      }
  </script>
</head>
<style>

  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .dropdown-toggle li a:hover {
      color: #29292c !important;
      border: none;
   outline: none;
   text-decoration: none;
  }
  .dropdown-toggle:hover,
.dropdown-toggle:focus {
  text-decoration: none;
  color: #29292c !important;
}
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer{
           background: #05223d;
           padding: 15px 0;
           color:#8d8d8c;
           width: 100%;
           
           position:absolute;
           bottom:0;
           
      }
       
      ul.bottom_menu li {
           float: left;
           font-size: 14px;
           font-weight: 300;   
           margin-left: 20px;
           list-style: none;
          
      }
      
      ul.bottom_menu li a {
           color: #8d8d8c;
           text-decoration: none;
      
      }
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top"  style="border:0;background:#FEFCFF;padding-right: 5px;padding-top: 5px;font-size: 15px;font-weight: bold;font-family:Montserrat,sans-serif;margin:0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static 'images/logo4.png' %}" style="height:59px ; width:59px">
          <img src="{% static 'images/logo3.png' %}" style="height:60px ; width:145px">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><a href="{% url 'aboutus:aboutus' %}">About us</a></li>
            <li><a href="{% url 'technology:technology' %}">Technology</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Solutions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Milk Collection</a></li>
                <li><a href="">Milk Processing</a></li>
                <li><a href="">Cow trading and Breeding</a></li>
                <li><a href="">B2B Marketplace</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'farmerlogin:userlogin' %}">Farmer Login</a></li>
                <li><a href="{% url 'financierlogin:userlogin' %}">Financier Login</a></li>
                <li><a href="">Admin Login</a></li>
                <li><a href="{% url 'farmerlogin:userlogout' %}">Logout</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contactus:showform' %}">Contact us</a></li>&nbsp;
          </ul>
        </div>
      </div>
    </nav>
  
  
      <nav class="navbar navbar-inverse" style="padding-top:65px;font-size:15px;" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myDashboard">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <div class="collapse navbar-collapse" id="myDashboard">
          <ul class="nav navbar-nav navbar">
            <li><a href="{% url 'visual:visual' %}">System Health</a></li>
            <li><a href="{% url 'visual:quantity' %}">Milk Quantity</a></li>
            <li><a href="{% url 'visual:quality' %}">Milk Quality</a></li>
            <li><a href="{% url 'visual:cowhealth' %}">Cow Health</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'visual:profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="{% url 'farmerlogin:userlogout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
        </div>
      </nav>
  </div>
  
      <div class="container" style="padding-top:160px;text-align:center;">
      <center><h2>System Health</h2></center><br><br>
    
        <div class="row">
          <div class="col-sm-6">
            <iframe width="450" height="260" style="border: 1px solid #fff;" src="https://thingspeak.com/channels/1057632/widgets/181231"></iframe>
          </div>
          <div class="col-sm-6">
            <iframe width="450" height="260" style="border: 1px solid #fff;" src="https://thingspeak.com/channels/1057632/widgets/181232"></iframe>
          </div>
        </div>
      
    </div>
      
    
    <footer >
      <div class="container0" style="padding: 0px 80px;">
        <div class="row">
          <div class="col-md-6 mb-4">
            <p class="crp" style="float:left;margin:0;font-size: 15px;">© 2020 MooMa . All Rights Reserved.</p>
          </div>
    
          <div class="col-md-6 mb-4">
            <ul class="bottom_menu" style="float:right;">
              <li><a href="{% url 'aboutus:aboutus' %}">About Us</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="{% url 'contactus:showform' %}">Contact us</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
           </ul>
          </div>    
        </div>
    
    
      </div>
    </footer>
    
</body>
</html>
